@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* .app-container {
      @apply p-10 m-4
    } */
    * {
        @apply tracking-wider
    }
}

@layer components {
  .login-label {
      @apply p-2
  }

  .login-input {
      @apply p-2 border rounded-md w-80
  }

  .login-btn-container {
      @apply p-4 mx-2 my-2
  }
  


  .navbar {
      @apply flex flex-row justify-end
  }
  
  .nav-item {
      @apply px-6 py-3 relative hover:bg-slate-400 hover:text-white
  }
  .nav-item:hover .dropdown-menu {
    max-height: fit-content; /* Adjust this value based on your content's height */
    opacity: 1;
    visibility: visible; 
  }
  .dropdown-menu {
    @apply list-none absolute min-w-3  bg-white z-[1000] text-black
  }
  .dropdown-menu {
    @apply flex flex-col;/* Show the dropdown menu on hover */

    }
    .dropdown-menu {
        /* padding-top: 12px; */
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
        visibility: hidden;
    }
    
    .dropdown-menu.open {
        max-height: fit-content; /* Adjust this value based on your content's height */
        opacity: 1;
        visibility: visible;
    }
    .dropdown-menu li {
        @apply px-2 py-4
    }
    .dropdown-menu li:hover {
        @apply bg-slate-300 text-white /* Add hover effect to dropdown menu items */
    }

  .form-item {
      @apply flex flex-col p-2 m-1 
  }
  .input-item {
      @apply rounded-md p-1 my-1
  }
}

.App {
  text-align: center;
}