@tailwind base;
@tailwind components;
@tailwind utilities;

/* For customizing responsive font size */
/* html {
    .header-size {
        font-size: 16px;

        @screen sm {
            font-size: 20px;
        }

        @screen md {
            font-size: 24px;
        }
    }

    .sub-header-size {
        font-size: 14px;

        @screen sm {
            font-size: 18px;
        }

        @screen md {
            font-size: 20px;
        }
    }

    .content-size {
        font-size: 12px;

        @screen sm {
            font-size: 14px;
        }

        @screen md {
            font-size: 16px;
        }
    }
} */

* {
    @apply tracking-wider
}

@font-face {
    font-family: "Noto Sans Thai";
    src: url("./assets/fonts/NotoSansThai-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans Thai";
    src: url("./assets/fonts/NotoSansThai-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@layer base {

    body {
        @apply bg-gray-100
    }
    .font-NotoSansThai {
        font-family: 'Noto Sans Thai', sans-serif; /* Apply the custom font */
    }

}

/* .ant-picker-ok {
    display: none !important;
} */



